doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Shop Homepage - Start Bootstrap Template
    // Bootstrap Core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='css/shop-homepage.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    include navbar.pug
    .container
      .row
        .col-md-9
          hr
          .page-header
            h1 Bookshelf
          .row
            .col-sm-4.col-lg-4.col-md-4
              .thumbnail
                img(src='images/ulysses.jpg', width='200px', height='600px', alt='')
                .caption
                  h4
                    a(href='books/ulysses') Ulysses
                  h4
                    a(href='books/ulysses') James Joyce
                  p
                    | "That's good.—Help me, man; I wish to stand. So, so, I see him! there! there! going to leeward still; what a leaping spout!—Hands off from me! The eternal sap runs up in Ahab's bones again! Set the sail; out oars; the helm!"
                .ratings
                  p.pull-right 15 reviews
                  p
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
            .col-sm-4.col-lg-4.col-md-4
              .thumbnail
                img(src='images/war-and-peace.jpeg', width='200px', height='600px', alt='')
                .caption
                  h4
                    a(href='books/war-and-peace') War and Peace
                  h4
                    a(href='books/war-and-peace') Leo Tolstoy
                  p
                    | "That's good.—Help me, man; I wish to stand. So, so, I see him! there! there! going to leeward still; what a leaping spout!—Hands off from me! The eternal sap runs up in Ahab's bones again! Set the sail; out oars; the helm!"
                .ratings
                  p.pull-right 12 reviews
                  p
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star-empty
            .col-sm-4.col-lg-4.col-md-4
              .thumbnail
                img(src='images/the-great-gatsby.jpg', width='200px', height='600px', alt='')
                .caption
                  h4
                    a(href='books/the-great-gatsby') The Great Gatsby
                    h4
                      a(href='books/the-great-gatsby') F. Scott Fitzgerald
                    p
                      | "That's good.—Help me, man; I wish to stand. So, so, I see him! there! there! going to leeward still; what a leaping spout!—Hands off from me! The eternal sap runs up in Ahab's bones again! Set the sail; out oars; the helm!"
                .ratings
                  p.pull-right 31 reviews
                  p
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star-empty
.container
hr
include footer.pug
