html
  head
    link(rel="stylesheet" href="/css/bootstrap.min.css")
  body
    include navbar
    hr
    hr
    hr
    hr
    .container
      h1 Films
      .row
        each film in films
          .col-xs-3
            a(href="/films/" + film.slug)
              img(width="145" height="235" src=film.imageSrc)
            h3= film.title
